---
layout: default
---

<style>
.cs-people {
  float: left;
  width: 40%;
}

.cs-projects {
  float: right;
  width: 40%;
}

.cs-avatar-small {
  height: 1em;
  vertical-align: text-top;
}
</style>

<div class="cs-people">
{% for person in site.people %}

  {% if person.slug == "_example" %}
    {% continue %}
  {% endif %}

  <div id="person-{{ person.slug }}">
    <a href="https://github.com/{{ person.slug }}">
      <img src="https://github.com/{{ person.slug }}.png" class="cs-avatar-small">
      {{ person.name }}
    </a>

    <p>
    Projects:
    {% for slug in person.projects %}
      {% assign project = site.projects | where: 'slug', slug | first %}
      <a href="#project-{{ project.slug }}">{{ project.name }}</a>
      {%- unless forloop.last %},{% endunless %}
    {% endfor %}
    </p>
  </div>
{% endfor %}
</div>

<div class="cs-projects">
{% for project in site.projects %}
  {% if project.slug == "_example" %}
    {% continue %}
  {% endif %}

  <div id="project-{{ project.slug }}">
    <h3><a href="{{ project.url }}">{{ project.name }}</a></h3>
    <p>{{ project.desc }}</p>
  </div>
{% endfor %}
</div>
